html,
body {
    width: 200px;
}

.hidden {
    display: none;
}

button {
    border: none;
    width: 100%;
    margin: 5px 5px 0 0;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    color: #171321;
    cursor: pointer;
    background-color: #A989F5;
}

button:hover {
    background-color: #FCA326;
}
